<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<div style="margin: 0 auto">
    <h1>看什么看,快买!</h1>
    <!-- <img src="./static/1.png" alt="" style="width: 200px"> -->
    <input type="button" id="btn_ajax" value="点我即可购买">
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#btn_ajax").click(function () {
            $.ajax({
                url: '/pay', // 修改后的URL
                type: 'POST',
                dataType: 'JSON',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}, // 注意：Flask通常不直接使用csrfmiddlewaretoken，除非你集成了Django的CSRF或类似机制。对于纯Flask，WTForms-CSRF更常见。
                success: function (res) {
                    if (res.status === 1) {
                        // 跳转到支付链接
                        location.href = res.url
                    } else {
 
                    }
                }
            })
        })
    })
</script>
</body>
</html>